/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* UNIVERSAL */
html>::-webkit-scrollbar {
    display: none;
}

.web-component-container::-webkit-scrollbar,
.photos-component-container::-webkit-scrollbar {
    background: transparent;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.4);
    border-radius: 15px;
}

#home::before,
#web::before,
#photo::before,
#contact::before {
    display: block; 
    content: " "; 
    /* margin-top: 15vh;  */
    height: 15vh; 
    visibility: hidden; 
    pointer-events: none;
  }

* {
    scroll-behavior: smooth;
}

.web-component-container,
.photos-component-container,
.about-component-container,
.contact-component-container {
    margin-bottom: 30vh;
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    background-image: url('https://images.unsplash.com/photo-1522764725576-4cbbbf12c16d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1764&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat
}

a {
    text-decoration: none;
    color: white;
}
/* HEADER */
.header-component-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: rgba(0,0,0,.6);
    height: 15vh;
    transition: background-color 350ms ease;
}

.header-navbar-container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 5px 5px 20px #ccc; */
    padding: 0;
}

.header-navbar-container a {
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    letter-spacing: 3px;
    background: none;
    color: rgba(255,255,255,.6);
    transition: all .3s ease;
    transition-property: background-position-y, font-size, color;
}

.header-navbar-container a:hover {
    background-position-y: 20%;
    font-size: 4.5vw;
    color: white
}

.header-component-container:hover {
    background-color: rgba(0,0,0,0.9)
}

.header-component-container-active {
    animation: navbar-disappear 1.5s ease-in-out forwards;
}

@keyframes navbar-disappear {
    0% {
        transform: none;
        opacity: 1;
    }

    20% {
        transform: translateY(-20vh);
        opacity: 0
    }

    70% {
        transform: translateY(-20vh);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

/* HOME */
.home-component-container {
    height: 100vh;
    z-index: 1;
    background-image: url('https://images.unsplash.com/photo-1522764725576-4cbbbf12c16d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1764&q=80');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    animation: home-background-animation 7s ease-in-out forwards;
    animation-delay: .5s;
}

@keyframes home-background-animation {
    from {
        background-position: top;
    }

    100% {
        background-position: center;
    }
}

.appearing-text-container {
    opacity: 0;
    animation: text-appear-animation 2s ease forwards;
    animation-delay: 7.5s;
    color: rgba(255,255,255,.6);
    /* background-image: url('https://images.unsplash.com/photo-1467474750283-083e4610910c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center; */
    /* mix-blend-mode: exclusion;
    color: white; */
    word-spacing: 20px;
}

.appearing-text-container > span {

    margin: 0 5px;
}

@keyframes text-appear-animation {
    to {
        opacity: 1;
    }
}

.home-list-container {
    width: 100%;
    height: 100%;
    z-index: 3;
    /* mix-blend-mode: exclusion;
    color: white; */
    opacity: 1;
    overflow: hidden;
}

.home-list {
    width: 100%;
    height: 700vh;
    /* overflow: scroll; */
    /* opacity: */
    font-weight: 900;
    font-family: 'Montserrat';
    text-align: center;

    /* margin-top: 40vh; */
    
    animation: home-list-animation 7s ease-in-out forwards;
    animation-delay: 1s;
}

.home-list-item {
    height: 20vh;
    margin: 80vh 0;
    font-size: 10vw;
}

.creativity,
.ambition,
.passion,
.adventure,
.dilligence,
.happiness,
.jackson {
    /* background-image: url('https://images.unsplash.com/photo-1467474750283-083e4610910c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    background-size: cover; */
    color: rgba(255,255,255,.6);
}

.creativity {
    margin-top: 100vh;
}


@keyframes home-list-animation {
    0% {
        margin-top: 40vh;
    }

    100% {
        margin-top: -650vh;
    }
}

.creative {
    opacity: 0;
    animation: creative-opacity-animation 1s ease forwards;
}

@keyframes creative-opacity-animation {
    to {
        opacity: 1;
    }
}

.jackson {
    margin-bottom: 40vh;
}
/* WEB  */
.web-component-container {
    /* flex-wrap: wrap; */
    height: 180vh;
    width: 100%;
    padding: 5% 0;
    background-image: url('https://images.unsplash.com/photo-1547383185-822b76f62a05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.web-component-container .faded-section-header {
    margin-top: -25vh;
    margin-bottom: 10vh;
    color: rgba(255,255,255,.3);
}

.website {
    margin-bottom: 5vh;
    display: flex;
    height: 50vh;
    justify-content: space-around;
    padding: 10vh 0;
    background-color: rgba(0,0,0, 0.5);
}

.thephotoalphabet {
    flex-direction: row-reverse;
}

.desktop {
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    background-position: center;
}

.mobile {
    background-size: contain;
    width: 10%;
    background-repeat: no-repeat;
    background-position: center;
}

.website-blurb {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.website-blurb h1 {
    font-size: 4vw;
}

.website-blurb button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    background: none;
    border: 1px solid white;
    font-size: 2vw;
    transition: all 350ms ease;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}

.website-blurb button:hover {
    background-color: white;
    color: rgba(0,0,0,.6);
    transform: scale(1.1)
}

.website-blurb a {
    font-weight: 400;
    letter-spacing: 1px;
    transition: transform 350ms ease;
}

.website-blurb a:hover {
    transform: scale(1.1)
}

.fa-external-link-alt {
    margin-left: 10px;
}

.thephotoalphabet .desktop {
    background-image: url('./photos/thephotoalphabetD1.png');
}

.thephotoalphabet .mobile {
    background-image: url('./photos/thephotoalphabetM1.png');
}

.adventuresquad .desktop {
    background-image: url('./photos/adventuresquadD1.png')
}

.adventuresquad .mobile {
    background-image: url('./photos/adventuresquadM1.png');
}

.redditclone .desktop {
    background-image: url('./photos/rcD1.png')
}

.redditclone .mobile {
    background-image: url('./photos/rcM1.png')
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.473) !important;
}

.ReactModal__Content {
    background-color: black !important;
    color: white !important;
    border: none !important;
    height: 70vh !important;
    width: 80vw !important;
    margin: 15vh auto !important;
    padding: 0 !important;
}

.modal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;

}

.ReactModal__Content::-webkit-scrollbar {
    display: none;
}

.modal h1 {
    font-size: 5vw;
    margin-bottom: 10px;
}

.modal h4 {
    margin: 25px 0;
}

.modal ul {
    line-height: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal > div {
    display: flex;
    justify-content: space-between;
}

.modal > div > div {
    width: 30%;
}

.modal > div > div > div {
    width: 100%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.as .D2 {
    background-image: url('./photos/asD2.png')
}

.as .D3 {
    background-image: url('./photos/asD3.png')
}

.as .D4 {
    background-image: url('./photos/asD4.png')
}

.tpa .D2 {
    background-image: url('./photos/tpaD2.png')
}

.tpa .D3 {
    background-image: url('./photos/tpaD3.png')
}

.tpa .D4 {
    background-image: url('./photos/tpaD4.png')
}

.as {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1548660494-e09a8c294d36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60');
    background-size: cover;
}

.tpa {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1546386879-0c4eef146573?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60');
    background-size: cover;
}
/* PHOTOS  */
.photos-component-container {
    height: 100vh;
    perspective: 2000px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-image: linear-gradient(90deg, rgba(7, 44, 78, 0.6), rgba(216, 102, 84, 0.6) 160%), url('https://images.unsplash.com/photo-1520628185778-d80ddc01fba2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-attachment: fixed;
}

.photos-component-container .faded-section-header {
    margin-top: -20vh;
}

.photos-container {
    height: 85vh;
    width: 350%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5% 0;
}

.photo {
    height: 40%;
    width: 25vw;
    margin: 0 .5%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0,0,0,.6);
    transition: all 200ms ease-in-out;
    transition-property: transform, box-shadow;
    background-color: teal;
}

.photo h1 {
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: white;
    letter-spacing: 2px;
    width: 100%;    
    text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

#more-photos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.photo:hover {
    box-shadow: 20px 20px 40px rgba(0,0,0,.6);
    transform: translateZ(50px);
}

#adam,
.adam {
    background-image: url('./photos/adam.jpg');
    background-position: bottom;
    background-size: 160%;
}
#alix,
.alix {
    background-image: url('./photos/alix.jpg');
}
#chris-1,
.chris-1 {
    background-image: url('./photos/chris-1.jpg');
}
#chris-2,
.chris-2 {
    background-image: url('./photos/chris-2.jpg');
    background-position: bottom;
}
#coronado,
.coronado {
    background-image: url('./photos/coronado.jpg');
}
#erik,
.erik {
    background-image: url('./photos/erik.jpg');
    background-position: 0 30%;
}
#evan,
.evan {
    background-image: url('./photos/evan.jpg');
}
#jacob,
.jacob {
    background-image: url('./photos/jacob.jpg');
}
#lights-1,
.lights-1 {
    background-image: url('./photos/lights-1.jpg');
}
#lights-2,
.lights-2 {
    background-image: url('./photos/lights-2.jpg');
    background-position: bottom;
}
#maddie,
.maddie {
    background-image: url('./photos/maddie.jpg');
    background-position: 0 20%;
}
#michael,
.michael {
    background-image: url('./photos/michael.jpg');
}
#oregon-1,
.oregon-1 {
    background-image: url('./photos/oregon-1.jpg');
}
#oregon-2,
.oregon-2 {
    background-image: url('./photos/oregon-2.jpg');
}
#oregon-3,
.oregon-3 {
    background-image: url('./photos/oregon-3.jpg');
}
#oregon-4,
.oregon-4 {
    background-image: url('./photos/oregon-4.jpg');
}
#oregon-5,
.oregon-5 {
    background-image: url('./photos/oregon-5.jpg');
}
#oregon-6,
.oregon-6 {
    background-image: url('./photos/oregon-6.jpg');
}
#oregon-7,
.oregon-7 {
    background-image: url('./photos/oregon-7.jpg');
}
#paige-1,
.paige-1 {
    background-image: url('./photos/paige-1.jpg');
    background-position: top;
}
#paige-2,
.paige-2 {
    background-image: url('./photos/paige-2.jpg');
    background-position: 0 10%;
}
#paige-3,
.paige-3 {
    background-image: url('./photos/paige-3.jpg');
    background-position: 0 10%;
}
#sunny,
.sunny {
    background-image: url('./photos/sunny.jpg');
    background-position:center 20%;
}

.photo-modal-container {
    height: 100%;
    width: 100%;
    padding: 2%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1547860546-fa91780a4ef3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60')
}

.photo-modal {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center !important;
    background-repeat: no-repeat; 
}

.photo-scroll {
    position: relative;
    padding: 0 3%;
    color: rgba(255,255,255,.7);
    left: 0;
    top: 55vh;
    z-index: 100;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
/* ABOUT  */
.about-component-container {
    height: 300vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 15vh;
    background-image: linear-gradient(90deg, rgba(0,0,0, 0.3), rgba(0,0,0, 0.5)), url('https://images.unsplash.com/photo-1535968881874-0c39f1503640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
    background-size: cover;
    background-position: 30%;
    background-attachment: fixed;
}

.faded-section-header {
    width: 100vw;
    height: 15vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: rgba(0,0,0,.15);
    text-shadow: none;
    margin-top: -15vh;
    font-size: 20vh;
    letter-spacing: 5px;
    text-align: right;
}

.about-component-container .faded-section-header {
    margin-left: -7%;
    margin-top: -10vh;
}

.about-info-container {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    width: 90%;
    height: 30%;
    font-size: 2vw;
    color: white;
    letter-spacing: 1px;
    line-height: 3vw;
    text-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

.about-services-container {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-services-container > div {
    display: flex;
    height: 20%;
    width: 100%;
}

.about-services-container h1, h2, li {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.about-services-container h1 {
    font-size: 4vw;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.about-services-container h2 {
    font-size: 3vw;
    width: 60%;
    height: 3vw;
    color: white;
    /* margin-left: -20px; */
    letter-spacing: 1px;
}

.about-services-container >div >div {
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid white;
}

.about-services-container > div :first-child {
    border: none;
}

.about-services-container li {
    /* font-weight: 400; */
    font-size: 1.8vw;
    line-height: 3vw;
    letter-spacing: 2px;
    color: rgba(255,255,255,.8);
    list-style-type: disc;
}

.about-service > div {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 30px;
}

.about-component-container svg {
    width: 40%;
    height: auto;
    margin-right: 20px;
}

.about-skills-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding: 20px;
}

.about-skills-container h2 {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-size: 4vw;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.about-skill {
    height: 20%;
    width: 22%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-skill h1 {
    height: 20%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: lowercase;
    text-shadow:10px 10px 10px rgba(0,0,0,.3);
}

.about-skill div {
    filter: saturate(.8);
    height: 10vh;
    width: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,.4);
    border-radius: 50%;
    box-shadow: 10px 10px 20px rgba(0,0,0,.3);
}

.about-skill .about-html5 {
    background-image: url('https://cdn-images-1.medium.com/max/1200/1*Lk7YWiSeDYGd-ITVUXbBbA.png');
    background-size: 160%;
    background-position-y: 70%;
}
.about-skill .about-css3 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/2000px-CSS3_logo_and_wordmark.svg.png');
    background-size: 120%;
    background-position-y: 70%;
}
.about-skill .about-javascript {
    background-image: url('https://c1.staticflickr.com/8/7306/16407404782_8b9c57eab3.jpg')
}
.about-skill .about-reactjs {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/640px-React-icon.svg.png')
}
.about-skill .about-node {
    background-image: url('https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg');
    background-size: 80%;
}
.about-skill .about-express {
    background-image: url('https://amandeepmittal.gallerycdn.vsassets.io/extensions/amandeepmittal/expressjs/2.0.0/1509881293872/Microsoft.VisualStudio.Services.Icons.Default');
    background-position-x: 14%;
    background-size: 160%;
}
.about-skill .about-postgresql {
    background-image: url('https://stitch-microverse.s3.amazonaws.com/uploads/integrations/postgresql-logo_7SyLG2o.png');
    background-size: 130%;
    background-position: 40% -30%;
}
.about-skill .about-git {
    background-image: url('https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png');
    background-size: 80%;
}
.about-skill .about-adobecc {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ac/Creative_Cloud.svg');
    background-size: 80%;
}
.about-skill .about-bootstrap {
    background-image: url('https://cdn.freebiesupply.com/logos/large/2x/bootstrap-4-logo-png-transparent.png')
}
.about-skill .about-redux {
    background-image: url('https://avatars0.githubusercontent.com/u/13142323?s=400&v=4');
    background-size: 80%;
    background-position-y: 30%;
}
.about-skill .about-jquery {
    background-image: url('https://pbs.twimg.com/profile_images/2192925422/jquery_logo.png');
    background-size: 110%;
}


/* CONTACT  */
.contact-component-container {
    height: 100vh;
    background-image: linear-gradient(270deg,rgba(0,0,0, 0.3), rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1515705576963-95cad62945b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0;
    overflow: hidden;

}

.contact-component-container > div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    margin-top: -10vh;
}

.contact-component-container .faded-section-header {
    margin-top: -20vh;
    color: rgba(255,255,255,.15);
}

.contact-email-form {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    margin-right: 5%;
}

.contact-email-form input {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
}
/* 
textarea {
    padding: 10px;
} */

.email-input-container {
    width: 100%;
}

.email-input-container h1 {
    color: white;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;

}

.email-form-name,
.email-form-subject {
    width: 100%;
    height: 5%;
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
}

.email-form-message {
    width: 100%;
    height: 40%;
    border-radius: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 90px 30px;
    padding-top: 20px;
    box-sizing: border-box;

}

.email-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.email-button h1 {
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
}

.contact-email-form button {
    background: none;
    border: 1px solid white;
    height: 10%;
    width: 40%;
    border-radius: 15px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2vw;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.contact-email-form button:hover {
    background: white;
    color: rgb(11, 26, 66);
    transform: scale(1.1)
}

input:focus,
textarea:focus {
    background: black;
    color: white;
    outline: none;
}

button:focus {
    outline: none;
}

.contact-information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 5%;
    height: 80%;
    width: 30%;
    text-align: left;
}

.contact-information div {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    letter-spacing: 2px;
    margin: 5% 0;
    line-height: 40px;
    text-shadow: 10px 10px 10px rgba(0,0,0,.4);
}

.contact-information div > a {
    font-size: 1.5vw;
}

.contact-info-email {
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* 
textarea {
    padding: 20px;
} */

.github,
.linkedin,
.instagram {
    transition: transform .3s ease-in-out;
}

.github a,
.linkedin a
.instagram a {
    font-size: 18px;
}

.github:hover,
.linkedin:hover,
.instagram:hover {
    transform: scale(1.1);
}
/*  FOOTER  */
.footer-container {
    width: 100%;
    height: 20vh;
    background-color: rgba(0,0,0,.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container p {
    font-family: 'Montserrat', sans-serif;
    margin: 10px auto;
    font-size: 1.4vw;
}

/* SCROLLTRIGGER CLASSES */


/* MOBILE STYLES */
.mobile-header-component-container {
    display: none;
    height: 10vh;
    width: 100vw;
    background-color: rgba(0,0,0,.85);
    position: fixed;
    z-index: 15;
    transform: translateY(-10vh);
    animation: mobile-menu 1.5s ease-in-out forwards;
    animation-delay: 7.5s;
}

@keyframes mobile-menu {
    to {
        transform: none;
    }
}

.mobile-header-component-container .header-navbar-container {
    flex-direction: column;
    background-color: rgba(0,0,0,.85);
    height: 0;
    /* display: none; */
    width: 100%;
    transition: height 500ms;
    align-items: flex-start;
    padding-left: 50px;
    overflow: hidden;
    font-size: 20px;
}

.mobile-header-component-container .header-navbar-container a {
    font-size: 2rem;
    display: inline;
    color: white;
}

.mobile-hamburger-icon {
    height: 10vw;
    width: 10vw;
    color: rgba(255,255,255,.85);
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 4% 0;
    margin-right: 4%;
    margin-bottom: auto;
    transition: transform 500ms;
    transform-origin: center;
    perspective: 200px;
}
.mobile-hamburger-icon div {
    background-color: white;
    height: 10%;
    width: 100%;
    transition: all 300ms
}

/* .mobile-menu-active .mobile-hamburger-icon {
    transform: rotateX(180deg);
} */

.mobile-menu-active .hamburger-1 {
    transform: rotate(45deg);
    transform-origin: bottom left;
    width: 13vw;
}

.mobile-menu-active .hamburger-3 {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 13vw;
}

.mobile-menu-active .hamburger-2 {
    width: 0;
}

.mobile-menu-active .header-navbar-container {
    /* display: flex; */
    height: 35vh;
}
/* MEDIA QUERIES */

@media screen and (max-width: 770px) {

    body {
        background-size: 200%;
    }

    .header-component-container {
        display: none;
    }

    .mobile-header-component-container {
        display: block;
    }

    .home-list {
        font-size: 50px;
    }

    .jackson,
    .appearing-text-container {
        font-size: 40px;
        color: white;
    }

    .appearing-text-container {
       text-align: right;
       word-spacing: -1px;
    }

    .home-component-container {
        background-size: 200%;
    }

    .faded-section-header {
        font-size: 14vw;
        height: 10vh;
    }


    .web-component-container {
        height: 210vh;
        background-position: center;
    }

    .web-component-container .faded-section-header {
        margin-top: -19vh;
        margin-bottom: 5vh;
    }

    .website {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        padding: 5vh 0;
        height: 60vh;
    }

    .website-blurb {
        font-size: 5vw;
        text-align: center;
    }

    .website-blurb h1 {
        font-size: 8vw;
        margin-bottom: 10px;
    }

    .website .desktop {
        width: 60%;
        height: 50%;
    }

    .website .mobile {
        width: 30%;
        height: 50%;
    }

    .website-blurb button {
        font-size: 5vw;
        width: 50vw;
        margin-top: 20px;
    }

    .website-blurb a {
        margin-top: 10px;
    }

    .modal > div {
        flex-direction: column;
    }

    .modal ul {
        width: 100%;
        font-family: 'Montserrat';
        font-size: 4vw;
    }

    .modal > div > div {
        width: 100%;
    }

    .photos-component-container {
        /* background-color: transparent; */
        /* background-image: none; */
        padding: 30% 0 10% 0;
        height: 70vh;
        /* background-position: center; */
    }

    .photos-component-container .faded-section-header {
        margin-top: -19vh;
    }

    .photos-component-container::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,.7);
    }

    .photos-container {
        height: 120%;
        width: 2070%;
        justify-content: space-around;
        margin-top: 5vh;
        /* background-color: rgba(0,0,0,.6); */
    }

    .photo {
        height: 100%;
        width: 65vw;
        /* margin-top: 30vh; */
    }

    .photo-scroll {
        top: 40vh;
        color: white;
    }

    #photo::before {
        display: none;
    }

    #more-photos h1 {
        font-size: 18px;
    }

    .about-component-container {
        height: 400vh;
        flex-direction: column;
        padding: 20px;
        background-position: center;
        justify-content: space-between;
    }

    .about-component-container .faded-section-header {
        margin-top: 0;
    }

    .about-skills-container,
    .about-info-container{
        width: 100%;
    }

    .about-info-container {
        height: auto;
        margin-bottom: 50px;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 26px;
        text-align: left;
    }

    .about-service {
        flex-direction: column;
    }

    .about-service > :first-child {
        flex-direction: row-reverse;
    }

    .about-service > :last-child {
        width: 50%;
        overflow: visible;
    }

    .about-service ul {
        width: 200%;
    }

    .about-service li {
        width: 200%;
        font-size: 5vw;
        line-height: 7vw;
    }

    .about-service h2 {
        font-size: 7vw;
    }

    .about-service > div {
        height: 15vh;
    }

    .about-services-container h1 {
        font-size: 10vw;
    }

    .about-services-container svg {
        margin-right: -50px;
    }

    .about-skills-container {
        padding: 0;
    }

    .about-skills-container h2 {
        font-size: 5vw;
        margin-top: 20px;
    }

    .about-skill {
        width: 27%;
    }

    .about-skill h1 {
        font-size: 3.5vw;
        margin-top: 10px;
    }

    #about::after,
    #contact::after {
        display: block; 
        content: " "; 
        /* margin-top: 15vh;  */
        height: 15vh; 
        width: 100%;
        visibility: hidden; 
        pointer-events: none;
    }

    .contact-component-container {
        height: 200vh;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        background-position: center;
    }

    .contact-component-container .faded-section-header {
        margin-top: 0;
    }

    .contact-component-container > div {
        flex-direction: column-reverse;
    }

    .contact-information,
    .contact-email-form {
        width: 100%;
        height: 70vh;
        padding: 20px;
    }

    .contact-information > div,
    .contact-information > div > a {
        font-size: 5vw;
    }

    .contact-email-form button {
        width: 75%;
        font-size: 24px;
        padding: 10px;
        height: 50px;
    }

    .contact-email-form input, 
    .email-form-message {
        font-size: 20px;
        height: 40px;
    }

    .email-form-message {
        height: 60vh;
    }

    #contact::before {
        display: none;
    }

    .contact-email-form {
        margin: 0;
        padding: 10px;
        padding-top: 20px;
        height: 120vh;
    }

    .footer-container p {
        font-size: 4vw;
        text-align: center;
        line-height: 5vw;
    }
}